[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
pydantic-settings = "*"
beautifulsoup4 = "*"
lxml = "*"
cloudinary = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]
mypy = "*"
flake8 = "*"
autoflake = "*"
isort = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "fastapi dev app/main.py"
prod = "fastapi run app/main.py"
format = "./scripts/format.sh"
lint = "./scripts/lint.sh"
