[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
pydantic-settings = "*"
beautifulsoup4 = "*"
lxml = "*"
cloudinary = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]
mypy = "*"
flake8 = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "fastapi dev app/main.py"
