[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
playwright = "*"
pydantic-settings = "*"
cloudinary = "*"

[dev-packages]
mypy = "*"
flake8 = "*"
autoflake = "*"
isort = "*"
black = "*"
pytest = "*"
docformatter = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "fastapi dev app/main.py"
prod = "fastapi run app/main.py"
format = "./scripts/format.sh"
