<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ profile.name }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/static/public/styles.css" rel="stylesheet">
    <link
      rel="icon"
      type="image/svg+xml"
      href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext y='0.9em' font-size='90'%3E📃%3C/text%3E%3C/svg%3E"
    />
  </head>
  <body class="bg-gray-900 text-gray-200">
    <main class="container mx-auto divide-gray-700 max-w-3xl">
      <!-- Profile -->
      <div class="grid grid-cols-12 gap-5 py-5">
        <div class="col-span-2">
          <img
            src="{{ profile.picture_url }}"
            alt="{{ profile.name }}"
            class="rounded-full"
          />
        </div>
        <div class="col-span-10 space-y-1.5">
          <h1 class="text-2xl font-bold">{{ profile.name }}</h1>
          <p class="text-gray-300">
            {{ profile.content }}
          </p>
        </div>
      </div>
      <!-- End Profile -->
      <!-- Contact -->
      <hr />
      <div class="py-5 space-y-5">
        <div>
          <h5 class="text-sm font-medium text-gray-400">Contact</h5>
        </div>
        <div class="flex flex-wrap gap-2">
        {% for contact in contacts %}
          <a
            href="{{ contact.url }}"
            target="”_blank”"
            class="bg-gray-700 px-4 py-1"
            >{{ contact.title }}</a
          >
        {% endfor %}
        </div>
      </div>
      <!-- End Contact -->
      <!-- About -->
      <hr />
      <div class="py-5 space-y-5">
        <div>
          <h5 class="text-sm font-medium text-gray-400">About</h5>
        </div>
        <div>
          <p class="text-gray-300">
            {{ about.about }}
          </p>
        </div>
      </div>
      <!-- End About -->
      <!-- Tech Stack -->
      <hr />
      <div class="py-5 space-y-5">
        <div>
          <h5 class="text-sm font-medium text-gray-400">Tech Stack</h5>
        </div>
        <div class="flex flex-wrap gap-2">
        {% for skill in skills %}
          <span class="bg-gray-700 px-4 py-1">{{ skill.name }}</span>
        {% endfor %}
        </div>
      </div>
      <!-- End Tech Stack -->
      <!-- Positions -->
      <hr />
      <div class="py-5 space-y-5">
        <div>
          <h5 class="text-sm font-medium text-gray-400">Positions</h5>
        </div>
        <div class="space-y-5">
        {% for position in positions %}
          <div class="grid grid-cols-12 gap-4">
            <div class="col-span-1">
              <img
                src="{{ position.picture_url }}"
                alt="{{ position.title }}"
                class="rounded-full"
              />
            </div>
            <div class="col-span-11 space-y-5">
              <div>
                <h3 class="text-lg font-semibold">{{ position.title }}</h3>
                <p class="text-gray-400 text-sm">
                  <span{{ position.company }}</span> •
                  <span>{{ position.start_date }} - {{ position.end_date }}</span>
                </p>
              </div>
              <p class="text-gray-400">
                {{ position.details }}
              </p>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <!-- End Positions -->
      <!-- Repositories -->
      <hr />
      <div class="py-5 space-y-5">
        <div>
          <h5 class="text-sm font-medium text-gray-400">Repositories</h5>
        </div>
        <div class="grid grid-cols-2 gap-4">
        {% for repository in repositories %}
          {% if repository.show %}
          <div
            class="col-span-1 space-y-3 p-5 border border-gray-700 rounded-lg"
          >
            <a
              href="{{ repository.url }}"
              target="_blank"
              class="text-base font-semibold text-blue-400"
              >{{ repository.name }}</a
            >
            <p class="text-gray-400 truncate">
              {{ repository.description }}
            </p>
            <div class="space-x-5 text-sm text-gray-300">
              <span class="font-semibold">{{ repository.lang }}</span>
              <span>Stars: {{ repository.stars }}</span>
              <span>Forks: {{ repository.forks }}</span>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      <!-- End Repositories-->
    </main>
  </body>
</html>
