<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ profile.name }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href={{ url_for("static", filename="public/styles.css") }} rel="stylesheet">
    <link
      rel="icon"
      type="image/svg+xml"
      href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext y='0.9em' font-size='90'%3E📃%3C/text%3E%3C/svg%3E"
    />
  </head>
  <body class="bg-gray-900 text-gray-200">
    <main class="container mx-auto divide-gray-700 max-w-3xl">
      <!-- Profile -->
      <div class="py-5 space-y-5">
        <div>
          <h5 class="text-sm font-medium text-gray-400 select-none">Profile</h5>
        </div>
        <div class="space-y-2">
          <h2 class="text-2xl font-bold">{{ profile.name }}</h2>
          {% if profile.about %}
          <p class="text-gray-300">{{ profile.about }}</p>
          {% endif %}
        </div>
      </div>
      <!-- End Profile -->
      <!-- Contact -->
      {% if contact_methods %}
      <hr />
      <div class="py-5 space-y-5">
        <div>
          <h5 class="text-sm font-medium text-gray-400 select-none">Contact</h5>
        </div>
        <div class="flex flex-wrap gap-2">
          {% for method in contact_methods %}
          <a
            href="{{ method.url }}"
            target="”_blank”"
            class="bg-blue-600 px-4 py-1 rounded-md"
            >{{ method.title }}</a
          >
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <!-- End Contact -->
      <!-- Experience -->
      {% if jobs %}
      <hr />
      <div class="py-5 space-y-5">
        <div>
          <h5 class="text-sm font-medium text-gray-400 select-none">
            Experience
          </h5>
        </div>
        <div class="space-y-5">
          {% for job in jobs %}
          <div class="grid grid-cols-12 gap-4">
            <div class="col-span-1">
              {% if job.picture_url %}
              <img
                src="{{ job.picture_url }}"
                alt="{{ job.title }}"
                class="rounded-full"
              />
              {% else %}
              <div class="flex items-center justify-center bg-blue-600 w-[43.8333px] h-[43.8333px] rounded-full font-bold select-none">
                {{ job.title[0]|upper if job.title }}
              </div>
              {% endif %}
            </div>
            <div class="col-span-11">
              <div class="space-y-2.5">
                <div>
                  <h3 class="text-lg font-semibold">{{ job.title }}</h3>
                  <p class="text-gray-400 text-sm">
                    <span>{{ job.start_date }} - {{ job.end_date }}</span>
                  </p>
                </div>
                <div>
                  <p class="text-gray-400">{{ job.details }}</p>
                </div>
              </div>
              <!-- Responsibilities -->
              {% if job.responsibilities %}
              <div class="py-2.5 space-y-2.5">
                <div>
                  <h5 class="text-sm font-medium text-gray-400 select-none">
                    Responsibilities
                  </h5>
                </div>
                <ul class="pl-10 list-disc">
                  {% for responsibility in job.responsibilities %}
                  <li>{{ responsibility }}</li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
              <!-- End Responsibilities -->
              <!-- Tech Stack -->
              {% if job.tech_stack %}
              <div class="py-2.5 space-y-2.5">
                <div>
                  <h5 class="text-sm font-medium text-gray-400 select-none">
                    Tech Stack
                  </h5>
                </div>
                <div class="flex flex-wrap gap-2">
                  {% for technology in job.tech_stack %}
                  <span class="bg-blue-600 px-4 py-1 rounded-md">{{ technology }}</span>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
              <!-- End Tech Stack -->
              <!-- Tools -->
              {% if job.tools %}
              <div class="py-2.5 space-y-2.5">
                <div>
                  <h5 class="text-sm font-medium text-gray-400 select-none">
                    Tools
                  </h5>
                </div>
                <div class="flex flex-wrap gap-2">
                  {% for tool in job.tools %}
                  <span class="bg-blue-600 px-4 py-1 rounded-md">{{ tool }}</span>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
              <!-- End Tools -->
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <!-- End Experience -->
      <!-- Projects -->
      {% if projects and projects[0].public %}
      <hr />
      <div class="py-5 space-y-5">
        <div>
          <h5 class="text-sm font-medium text-gray-400 select-none">
            Projects
          </h5>
        </div>
        <div class="grid grid-cols-2 gap-4">
          {% for project in projects %}
          {% if project.public %}
          <div
            class="col-span-1 space-y-3 p-5 border border-gray-700 rounded-lg"
          >
            <a
              href="{{ project.url }}"
              target="_blank"
              class="text-base font-semibold text-blue-400"
              >{{ project.name }}</a
            >
            <p class="text-gray-400 line-clamp-2">{{ project.description }}</p>
            <div class="text-sm text-gray-300 flex flex-wrap gap-x-4">
              {% for lang in project.langs %}
              <div class="flex gap-2">
                {% if lang.color %}
                <span style="color: {{ lang.color }}">●</span>
                {% endif %}
                <span class="font-semibold">{{ lang.name }}</span>
                {% if lang.percentage %}
                <span>{{ lang.percentage }}%</span>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <!-- End Projects -->
    </main>
    <footer class="container mx-auto divide-gray-700 max-w-3xl">
      <div class="py-5 flex justify-center">
        <h5 class="text-sm font-light text-gray-400">
          This resume was generated with <a href="https://github.com/luovkle/resuilder" class="text-blue-400">Resuilder</a>
        </h5>
      </div>
    </footer>
  </body>
</html>
