---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404: Lost Page ðŸ‘">
  <div class="h-5/6 flex justify-center items-center px-28">
    <div class="flex-row space-y-8">
      <h1 class="font-extrabold text-8xl">Lost Page, Like a Black Sheep</h1>
      <h2 class="text-2xl">
        This page has decided to be the black sheep of the server and has
        escaped. Can you help us bring it back?.
      </h2>
      <div>
        <a
          class="text-lg bg-blue-600 hover:bg-blue-500 py-2 px-4 rounded-lg"
          href="/">Back to home page</a
        >
      </div>
    </div>
  </div>
</Layout>
