---
import Layout from '../layouts/Layout.astro';
import Title from "../components/Title.astro";
---

<Layout title="Welcome to Resuilder.">
	<main>
    <Title title="Resuilder" />
	</main>
</Layout>
