[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pydantic-settings = "*"
gunicorn = "*"
gevent = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]
mypy = "*"
flake8 = "*"
autoflake = "*"
isort = "*"
black = "*"
pytest = "*"
docformatter = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "flask --app app.main:app run --debug --port 8001 --host 0.0.0.0"
prod = "gunicorn app.main:app --bind 0.0.0.0:8001 -k gevent -w 1"
format = "./scripts/format.sh"
