[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pyjwt = {extras = ["crypto"], version = "*"}
requests = "*"
python-dotenv = "*"
pymongo = "*"
beautifulsoup4 = "*"
lxml = "*"
python-multipart = "*"
cloudinary = "*"

[dev-packages]
pytest = "*"
httpx = "*"

[requires]
python_version = "3.10"
